/*/ EVENTOS /*/

.Size1{
    font-size: 43px ;
    font-weight: bold;
    color: #77CE79;
}

.Size2{
    font-size: 39px;
    font-weight:lighter;
    color: #ffffff;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden; 
    }
    to {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.Size1 {
    font-size: 43px;
    font-weight: bold;
    color: #77CE79;
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0; 
    visibility: hidden;
    animation-delay: 0.2s; /* Delay for Size1 */
    }

.Size2 {
    font-size: 39px;
    font-weight: lighter;
    color: #ffffff;
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0; 
    visibility: hidden;
    animation-delay: 0.6s; /* Delay for Size2 */
    }

.Marco1 {
    background-image: url('img/rectangulo.png');
    background-size: 800px;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: 20px;
    }

.fotogrupal {
        width: 100%; /* Asegúrate de que el contenedor ocupe el 100% del ancho */
        overflow: hidden; /* Evita que los elementos internos se desborden */
    }
    
.fotogrupal img {
    width: 50%; /* Establece el ancho al 50% en pantallas grandes */
    height: auto; /* Mantiene la proporción de la imagen */
    float: right; /* Alinea la imagen a la derecha */
    margin-right: 30px; /* Añade un margen izquierdo para separación */
    border-radius: 10%;
    }

.Fondo1{
    background-image: url("img/Fondo\ 1.png");
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: center; 
    z-index: -1; 
}


.Subfondo{
    position: relative; 
    top: 560px; 
    left: 50%; 
    width: cover; 
    min-height: 750px;
    background-color: #171d13;
    transform: translate(-50%, -50%); 
    z-index: -1; 
    }

.Servicios{
    position: relative; 
    color: white;
    text-align: center; 
    font-size: 60px;
    font-style: italic;
    padding: 50px; 
}

.Primerafila{
    display:flex; 
}


.Imagendelista img {
    flex: 0 0 50%;
    width: 50%; 
    height: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
    margin-left: 250px;
    
    }


.Cuadrodelista{
    background-color: #D9D9D9;
    flex: 0 0 30%;
    width: 40%; 
    padding: 20px; 
    margin-right: 250px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1); 
    color: #171d13 ;
    font-size: 30px;
    line-height: 2;
    text-align: left;
    list-style-type: none; 
}

.Subfondo2{
    position: relative; 
    top: 480px; 
    left: 50%; 
    width: cover; 
    height: 600px;
    background-color: #34422b;
    transform: translate(-50%, -50%); 
    z-index: -1; 
    margin-bottom: 100px;
}

.Segundafila{
    display:flex; 
}

.Imagendelista2 img {
    margin-top: 70px;
    flex: 0 0 30%;
    width: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    margin-right: 250px;
    margin-left: 210px;
    
    
}

.Cuadroparrafo2{
    margin-top: 70px;
    background-color: #D9D9D9;
    flex: 0 0 30%;
    padding: 20px; 
    margin-left: 260px;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    color: #34422b ;
    font-size: 40px;
    line-height: 2;
    text-align: left;
    list-style-type: none; 
}

/* ////// RESPONSIVE //////// */
@media (max-width: 768px) {
    .Marco1 {
        width: 100%; 
        padding: 20px; 
        margin-left: 0; 
        margin-right: 0; 
    }

    .Size1, .Size2 {
        font-size: 30px; 
        margin-bottom: 10px; 
        opacity: 1; 
        visibility: visible; 
    }

    .fotogrupal img {
        width: 100%; 
        float: none; 
        margin-left: 0; 
        margin-top: 10%;
    }

    .Primerafila, .Segundafila {
        flex-direction: column; 
        align-items: center;
    }

    .Imagendelista img, .Imagendelista2 img {
        width: 100%; 
        margin-left: 0; 
        margin-right: 0; 
    }

    .Cuadrodelista, .Cuadroparrafo2 {
        width: 100%; 
        margin: 10px 0; 
    }

    .Subfondo {
        min-height: auto; 
        padding: 20px; 
        margin-bottom: 10%; 
    }
    .Subfondo2 {
        min-height: 890px; 
        padding: 20px; 
        margin-bottom: 20px; 
    }

    .Servicios {
        font-size: 40px; 
        margin-bottom: 20px; 
    }


}
/*/ FIN DE EVENTOS / /