@import url(https://fonts.bunny.net/css?family=alkatra:400);

:root {
    --lime-green: #88bd2d;
    --dark-green: #13953e;
    --tomato-red: #d0342d;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alkatra", display;
}


/* seccion de: Camisas, accesorios y mucho más lo encuentras aquí. */

.section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.info {
    text-align: center;
    max-width: 50%;
}

.info h1 {
    font-size: 2.5em;
    color: #13953e;
}

.info p {
    font-size: 1.2em;
    color: #6c757d;
}

.container-buttons-header {
    text-align: center;
    margin-top: 20px;
}

.btn-primary,
.btn-secondary {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.container-img-hero img {
    max-width: 100%;
    height: auto;
}

.message-float-header {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffeb3b;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.message-float-header i {
    margin-right: 5px;
}


.container-buttons-header {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    button {
        border: none;
        background: none;
        padding: 10% 20%;
        border-radius: 20px;
        color: #ffffff;
        font-weight: 700;
        font-family: inherit;
        align-items: center;
        gap: 7px;
        cursor: pointer;
    }


    button:first-child {
        background-color: var(--lime-green);
    }

    button:last-child {
        color: var(--dark-green)
    }
}

.container-img-hero {
    flex: 1.5;
    justify-content: center;
    display: flex;
    position: relative;
    text-align: center;


    .img-hero {
        background-color: #ffffff;
        border-radius: 50%;
        margin: 50%;
        width: 450px;
        height: 450px;
        position: relative;
        align-items: center;
        outline: 2px solid #d0342d;
        outline-offset: 40px;
        text-align: center;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }

    .message-float-header {
        position: absolute;
        top: 45%;
        left: 10%;
        padding: 15px 25px;
        display: flex;
        align-items: center;
        gap: 15px;
        border-radius: 10px;


        background-color: #000000;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        i {
            color: #ffffff;
            font-size: 16px;
            background-color: var(--dark-green);
            padding: 10px;
            border-radius: 50%;

            span {
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    font-size: 14px;
                    color: var(--lime-green);
                }

                p:first-child {
                    color: #13953e;
                    font-weight: 170;
                }
            }
        }


    }
}

@media (max-width: 800px) {
    .section-hero .info h1 {
        font-size: 1.5em; 
    }

    .section-hero .info p {
        font-size: 1em; 
        line-height: 1.5; 
    }
}


@media (max-width: 500px) {
    .section-hero .info {
        width: 100%; 
        max-width: none;
        
    }

    .section-hero .info h1 {
        font-size: 1.5em; 
        line-height: 1.2;
        letter-spacing: 2px;
        width: 100%;
        
        
    }

    .section-hero .info p {
        font-size: 0.8em;
        line-height: 1.2; 
        
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden; 
    }
    to {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.section-hero .info h1,
.section-hero .info p {
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0; 
    visibility: hidden;
}

.section-hero .info h1 {
    animation-delay: 0.2s; 
}

.section-hero .info p {
    animation-delay: 0.6s; 
}



/*seccion de categorias*/

.section-categories {
    text-align: center;
    margin-top: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: var(--dark-green);
        margin-top: 0px;
    }
}

.container-card-categories {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-category {
    background-color: var(--lime-green);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 200px;
    flex: 1;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.card-category h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-green);
    text-align: center;
    width: 100%;
    margin: 0;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-category h3 a {
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.card-category h3:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-category p {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #88bd2d;
}


.img-category {
    position: relative;
    flex: 1;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-category img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: 0;
    max-width: 100%;
    flex: 1;
    justify-content: center;
    display: flex;
    text-align: center;
}

.boton {
    display: inline-block;
    background-color: #88bd2d;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    width: 171px;
    text-align: center;
}

@media (max-width: 1317px) {
    .card-category {
        width: 100%; 
        margin: 10px 0; 
        display: flex; 
        flex-direction: column; 
    }

    .img-category {
        width: 100%; 
        height: auto; 
        display: block; 
    }

    .img-category img {
        width: 100%; 
        
    }


    .boton {
        flex: 1; 
        min-width: 0; 
        margin: 0px 0; 
        font-size: 14px; 
        padding: 10px; 
        box-sizing: border-box; 
    }

    .card-category h3 {
        font-size: 14px; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

    .card-category p {
        font-size: 16px; 
    }
}


@media (max-width: 1095px) {
    .card-category {
        width: 100px; 
        margin: 15px; 
    }

    .card-category h3 {
        font-size: 14px; 
    }

    .card-category p {
        font-size: 18px; 
    }

    .img-category {
        height: 120px; 
    }
}